header {
  width: 100vw;
}

nav {
  margin-top: 0px;
  padding-top: 0px;
  background: #A0E7E5;
  height: 150px;
  width: 100%;
  position: sticky;
}

a {
  text-decoration: none;
}

nav > ul {
  display: inline-block;
  list-style: none;
  vertical-align: top;
  line-height: 110px;
}

#social-media {
  display: inline-block;
  vertical-align: top;
  margin-top: 45px;
  margin-left: 20%;
  position: relative;
}

i {
  color: white;
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 10px;
}

nav > #internal-links > li {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  float: left;
  margin-right: 100px;
  margin-left: 100px;
  font-size: 2.5em;
}

nav > ul > li > a {
  color: #ce94eb;
}

nav > ul > li > a:hover {
  color: #bb7ed9;
}

#img-container {
  display: inline-block;
  height: 150px;
  width: 150px;
}

#img-container img {
  width: inherit;
  height: inherit;
}

#logo-link {
  text-decoration: none;
}

html, body {
  margin: 0;
  padding-top: 0px;
  background: #FFAEBC;
}

#nails {
  width: 400px;
  height: 550px;
  margin-left: 35%;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}

.form h1, h2 {
  font-family: 'Varela Round', sans-serif;
  color: #008C76FF;
}

#heading {
  font-family: 'Kite One', sans-serif;
  color: #008C76FF;
  text-align: center;
}